{% extends 'layout.html' %}



{% block body %}
   <div class="container float-middler">
        <h1>फोटो अपलोड गर्नुहोस : </h1>

        <div class="col-md-4">
        	
        	<form method='post' enctype='multipart/form-data' action="" >
     			 <input type="file" name="file">
                  <input type="submit" value="Identify">
   			</form>
        	
        </div>
       {%  if img is defined %}
       <div id="image">
        <img src='{{ img }}' style="height: 400px" style="width: 400px">
       </div>
       {% endif %}

        {% if strings is defined %}
       <div id=" result">
       <h3>Numbers found: {{ strings|length }} </h3>
       <h3>The numbers are</h3>

       <ol>
           {% for string in strings %}
               <li><b>{{ string }}</b></li>
           {% endfor %}
       </ol>

       </div>
        {% endif %}

        <div class=" clear"></div>
   </div>




{% endblock %}


